<div id="<%= dom_id supermercado %>">
  <p>
    <strong>Nome:</strong>
    <%= supermercado.nome_mercado %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= supermercado.localizacao %>
  </p>

  <p>
    <strong>Horario de funcionamento:</strong>
    <%= supermercado.horario_funcionamento %>
  </p>

</div>
