<div id="<%= dom_id supermercado %>">
  <p>
    <strong>Nome:</strong>
    <%= supermercado.nome %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <%= supermercado.endereco %>
  </p>

  <p>
    <strong>Horario de funcionamento:</strong>
    <%= supermercado.horario_de_funcionamento %>
  </p>

</div>
