<h1>Editing supermercado</h1>

<%= render "form", supermercado: @supermercado %>

<br>

<div>
  <%= link_to "Show this supermercado", @supermercado %> |
  <%= link_to "Back to supermercados", supermercados_path %>
</div>
