<h1 class="titulo-carrinho">Meu Carrinho</h1>
<%= link_to "Produtos", produtos_path, class: "link-produtos" %>

<div class="carrinho-container">
  <% if @produtos.any? %>
    <ul class="lista-produtos">
      <% @produtos.each do |produto| %>
        <% item = current_user.carrinho.item_carrinhos.find_by(produto_id: produto.id) %>
        <li>
          <%= render produto %>
          <%= button_to 'Remover do Carrinho', remover_produto_carrinho_path(item.id), method: :delete %> 
        </li>
      <% end %>
    </ul>
    <%= button_to 'Remover Todos os Produtos', remover_todos_carrinhos_path, method: :delete, class: "btn-remover-todos", data: { confirm: 'Você tem certeza que deseja remover todos os produtos?' } %>
  <% else %>
    <p class="carrinho-vazio">Seu carrinho está vazio.</p>
  <% end %>
</div>
