<h1>Admin Dashboard</h1>
<p>Aqui você pode gerenciar produtos e supermercados.</p>

<%= link_to 'Cadastrar Novo Produto', new_produto_path %>
<%= link_to 'Cadastrar Novo Supermercado', new_supermercado_path %>


