<div>
  <h1 class="">Bem-vindo, <%= current_user.email %>!</h1>
  <p>Use os links abaixo para acessar a listagem de produtos e supermercados:</p>

  <div class="button-acessar-prod-e-super">
    <button class="btn-ir-para-tela"><a href="/produtos"> Ver Produto </a></button>
    <button class="btn-ir-para-tela"><a href="/supermercados"> Ver Supermercado </a></button>
  </div>
</div>
