
.container-new-produto {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form div {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

form input, form select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form input[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #218838;
}

.links-person {
  text-align: center;
  margin-top: 20px;
}

.links-person a {
  color: #007bff;
  text-decoration: none;
}
