

/* Estilização para os itens de produto */
#produtos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#produtos div {
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f9f9f9;
}

.nome-produto, .categoria-produto, .valor-produto {
  font-size: 1.2rem;
  margin: 5px 0;
}

.nome-produto {
  font-weight: bold;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

form {
  margin-bottom: 20px;
}

.form-inline input[type="text"] {
  margin-right: 10px;
}

.form-control {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}

/* Estilo personalizado para o botão de submit */
.btn-outline-success {
  background-color: #28a745;
  color: white;
  border: 1px solid #28a745;
}

.btn-outline-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}
